@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default: Dark Theme */
:root {
  --background: #111113;
  --foreground: #d4d4d4;
}

/* Light Theme */
.light {
  --background: #ffffff;
  --foreground: #111113;
}

body {
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
  transition: background 0.3s ease, color 0.3s ease;
}
